<mat-card class="my-main-card">
  <mat-card-content>
    <h3 class="example-h3" style="color: #3F51B5">Здесь вы можете редактировать содержимое контента:</h3>
    <mat-tab-group class="demo-tab-group">
      <mat-tab label="Tab 1">
        <ng-template mat-tab-label>
          <mat-icon>collections</mat-icon>
        </ng-template>
        <div style="overflow: hidden;" class="wind1" >
          <app-ad></app-ad>
        </div>
      </mat-tab>
      <mat-tab label="Tab 2">
        <ng-template mat-tab-label>
          <mat-icon>settings_applications</mat-icon>
        </ng-template>
        <div style="overflow: hidden; margin: auto; padding: 0px; width: 100%;">
          <app-second-page></app-second-page>
        </div>
      </mat-tab>
      <mat-tab label="Tab 3">
        <ng-template mat-tab-label>
          <mat-icon>perm_data_setting</mat-icon>
        </ng-template>
        <div style="margin: auto; padding: 0px; width: 100%;">
          <p>jhvgjhvhjvhvgvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv
          hjv,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,gcgdgggddddddddddddddddddddddddddddddddddddddddddddddddddfffff
          hvjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjj
          </p>
        </div>
      </mat-tab>
      <mat-tab label="Tab 4">
        <ng-template mat-tab-label>
          <mat-icon>my_location</mat-icon>
        </ng-template>
        <div style="margin: auto; padding: 0px; width: 100%;">
          <app-google-map></app-google-map>
        </div>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>
